@charset "utf-8";

@import url("global/normalize.css");
@import url("global/tipography.css");

@import url("layout/header.css");
@import url("layout/sidebar.css");
@import url("layout/footer.css");

body {
    background: #0a1a5c;
    color: white;
}

section {
    padding: 40px;
}

.card {
    background: white;
    color: #040e44;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

p {
    margin: 20px;
    line-height: 1;
}